.heading {
    width: 100%;
    height: 65px;
    font-size: 2.2vw;
    font-family: monospace;
    vertical-align: middle;
    line-height: 60px;
    background-color: rgb(252, 181, 73);
    border-bottom-width: 2px;
    color: rgb(255 255 255);
    position: sticky;
    z-index: 100;
    border-radius: 15px;
}

.subheading {
    width: 100%;
    height: 20px;
    font-family: monospace;
    background-color: rgb(253, 194, 105);
    border-bottom-width: 2px;
    color: rgb(255 255 255);
    border-radius: 15px;
    height: 45px;
    margin-top: 5px;
    line-height: 47px;
}

.side {
    font-family: Verdana;
    text-align: center;
    margin-top: 50px;
    width: 44%;
    position: fixed;
    padding: 2px;
    background-color: rgb(252, 181, 73);
    border-radius: 35px;
}

.leftsittingbutton {
    color: rgb(255 255 255);
    padding: 5px;
    text-align: center;
    font-size: 10px;
}

.rightsittingbutton {
    padding: 5px;
    text-align: center;
    font-size: 10px;
    position: relative;
    float: right;
    top: 6px;
    right: 5px;
}

.background {
    background-image: url('basic-background.png');
    background-size: 100%;
}

.LogRegImg {
    text-align: center;
    margin-top: 2%;
    width: 44%;
    position: fixed;
    padding: 2px;
}

.typingBox {
    width: 70%;
    height: 50%;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(253, 194, 105);
    background-color: rgb(240, 240, 240);
    border-width: 2px;
    margin: auto;
    color: black;
    padding: 10px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}

.inputBox {
    width: 30%;
    height: 50px;
    border-radius: 15px;
    border-color: rgb(253, 194, 105);
    border-width: 1px;
    margin: auto;
    color: rgb(136, 136, 136);
    display: flex;
}

.basicWord {
    font-size: 2.2vw;
    height: 15px;
    color: rgb(58, 58, 58);
    font-family: sans-serif;
    margin: 5px;
}

.helloText {
    font-size: 2.2vw;
    font-family: Verdana;
    color: rgb(57, 57, 56);
    text-align: center;
    margin: 3px;
    border: 2px solid orange;
}

.infoBox {
    font-family: Verdana;
    margin-top: 5%;
    width: 15%;
    height: 15%;
    padding: 10px;
    background-color: rgb(252, 181, 73);
    border-radius: 35px;
    text-align: center;
    position: fixed;
}

.boxGrouping {
    margin-top: 50px;
    width: 44%;
    position: fixed;
    padding: 2px;
    right: 4%;
    flex-direction: column;
}

.adminSettingsBox {
    width: 45%;
    left: 5%;
    border-style: solid;
    border-radius: 25px;
    border-color: rgb(62, 59, 255);
    background-color: rgb(240, 240, 240);
    border-width: 2px;
    color: black;
    padding: 5px;
    text-align: left;
}

.adminSubmit {
    width: 45%;
    right: 5%;
    color: rgb(0, 68, 79);
    padding: 5px;
    text-align: center;
    position: fixed;
    top: 30%;
}